@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Quicksand|Abel|Prata|Raleway|Goudy+Bookletter+1911|Abril+Fatface|Yanone+Kaffeesatz|Hammersmith+One|Lato|PT+Sans+Narrow|Open+Sans+Condensed|Playfair+Display|Old+Standard+TT|Merriweather|Montserrat|Roboto|Titillium+Web|Karla|Oswald|Glegoo|Courgette|Abel|Sniglet|PT+Sans|PT+Serif|PT+Mono';
#wrapper {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
     
}

html {
    overflow-x: hidden;
}
body {
    background-image: url(images/codingpicture.jpg);
    
    background-color:darksalmon;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    height: 100vh;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    background-blend-mode:overlay;
}


/* scrollbar */


/* width */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

::-webkit-scrollbar-track {
    background: white;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ff1a1a;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

#header {
    color: black;
    font-family: Prata, sans-serif;
    text-align: left;
    font-size: 1.0em;
    text-decoration-line: none;
    display: none;
    background-color: transparent;
    width: 100%;
    font-weight: 300;
}

span {
    
}

h1 {
     font-family: "Titillium Web", sans-serif;
    text-align: center;
    letter-spacing: 3px;
    font-size: 170%;
    display: inline-block;
    width: 100%;
    color: black;
    left: 0;
    font-weight: 600;
    /* background-color:darkseagreen ;*/
    text-decoration-line: underline;
    margin-top: 2%;
    padding: 3%;
    text-transform: capitalize;
}



.container-fluid {
    text-align: center;
    margin: auto;
    padding: 0%;
}

.boxed {
    text-align: center;
    color: white;
    float: center;
    width: 70%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    overflow-x: hidden; /*avoid horizontal scrollbar */
}

#icons {
    border-radius: 10%;
    float: left;
    width: 10%;
    height: auto;
    margin-right: 5%;
    margin-left: 5%;
    overflow: hidden;
}
/*
.boxed1 {
    background: darkgray;
}

.boxed2 {
    background: darksalmon;
}

.boxed3 {
    
}

.boxed4 {
    
}
*/

h2 {
    color: black;
    font-family: Prata, sans-serif;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.5em;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
    
    
}

#second {
   
    margin-top: 0%;
    width: 34%;
}

h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid black; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */ /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 6s steps(40, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 32% } /* width of h1 */
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
    
  32% { border-color: black; }
}    

#textbox p {
    color: black;
    font-family: Karla, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    width: 40%;
}

/* Education part */
#firstline {
    color: black;
    font-family: Roboto, sans-serif;
    text-align: left;
    margin-left: 6%;
    margin-right: 3%;
    font-size: 1.3em;
    
}

#secondline {
    color: black;
    font-family: Titillium Web, sans-serif;
    text-align: left;
    margin-left: 6%;
     margin-right: 3%;
    margin-bottom: 5%;
    margin-top: -2%;
    font-size: 1.4em;
    
}

#skills {
    color: black;
    font-family: Titillium Web, sans-serif;
    text-align: left;
    margin-left: 6%;
    margin-right: 3%;
    margin-bottom: 5%;
    font-size: 1.4em;
    width: 40%;
    display: block;
    float: left;
    
}

#skills li {
    margin-bottom: 3%;
    
}

/* extra curriculrs section */
#skills2 {
    color: black;
    font-family: Titillium Web, sans-serif;
    text-align: left;
    
    font-size: 1.4em;
    width: 100%;
    display: inline-block;
    
    
}

#skills2 li {
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    list-style-type: none;
    
    
}
/*  
img.galleryy {
    margin-left: 5%;
    margin-top: 4%;
    margin-right: 5%;
    margin-bottom: 2%;
    float: left;
    border-radius: 50%;
    border: 4px solid black;
    
   
}
img.galleryy:hover {
    background-color: crimson;
    filter:opacity(0.7);
    
}
*/

div.gallery {}

div.gallery img:hover {
    filter: opacity(0.7);
    /*border: 1px solid #777;*/
}

#honorspics {
    width: 100%;
    float: right;
    display: inline-block;
    height: 20rem;
    overflow: hidden;
}

div.desc {
    position: absolute;
    padding-left: 1%;
    font-family: Titillium Web, sans-serif;
    text-align: left;
    font-size: 1.3em;
    bottom: 0%;
    right: 0%;
    /* background: rgba(255, 255, 255, 0.5); */
    background: rgba(255,255,255,0.8);
    border-bottom: 1px solid  black;
    border-right: 1px solid  black;
    border-left: 1px solid  black;
    color: black;
    width: 100%;
}

.responsive {
    position: relative;
    width: 50%;
}

div.desc2 {
    padding: 1%;
    font-family: "Pt Sans Narrow", sans-serif;
    font-weight: 500;
    text-align: center;
    color: black;
    font-size: 1.1em;
    margin-bottom: 2%;
}

div.desc2 a {
    color: #EC504F;
    text-decoration-line: none;
}

* {
    box-sizing: border-box;
}

.responsive {
    margin: 2%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}


/*mobile phones/tablets*/

@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    .container-fluid {

        padding: 0%;
    }
    
    #header {
        color: black;
        font-family: Prata, sans-serif;
        text-align: left;
        font-size: 1.0em;
        text-decoration-line: none;
        display: block;
        font-weight: 300;
    }
    
    #textbox p {
        width: 60%;
    }
    
    h1 {
        font-weight: 600;
        
    }
    
    h2 {
        font-size: 1.3em;
        width: 100%;
        margin-top: 50%;
        }
        /* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% } /* width of h1 */
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
    
  100% { border-color: black; }
}   
    .boxed {
        margin-top: 5%;
        width: 100%;
    }
    
    ul {
        width: 100%;
        margin-top: 11%;
        
    }
    li {
        width: 33%;
        float: left;
        font-size: 100%; 
        list-style-type: disc;
    }
    
    li:last-child {}

    #skills {
        width: auto;
        margin-left: 10%;
        font-size: 1.1em;
    }
    
    #firstline {
        font-size: 1.2em;
    }
    
    #secondline {
        font-size: 1.1em;
    }
    
    #honorspics {
    height: auto;
}
    li a {
        display: inline-block;
        color: white;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 10% 10% 10% 10%;
        font-family: Abel, sans-serif;
        text-transform: capitalize;
        font-size: 110%;
        float: right;
        text-align: center;
        text-decoration: none;
        background-color: #b30000;

    }
    li a:hover {
        background-color: white;
        color: black;
        text-decoration: none;
    }
    p {
        margin-top: 8%;
        margin-bottom: 8%;
    }


    /* hamburger icon */
    #menu {
        cursor: pointer;
        width: 100%;
        display: block;
       
        font-size: 2.35em;
        text-align: right;
        padding-right: 10%;
        height: auto;
        position: fixed;
        z-index: 2;
    }
    
    /* hamburger icon menu */
    nav ul {
        position: fixed;
        top: 3%;
        width: 100%;
        list-style: none;
        z-index: 1;
    }
    
    nav.js {
        display: none;
    }
    #skills ul {
        width: 100%;
        list-style: none;
    }
    #skills li {
        width: 100%;
        border-right: none;
    }
    
    nav li {
        width: 100%;
        border-right: none;
    }
    
    #icons {
    border-radius: 10%;
    float: left;
    width: 15%;
    height: auto;
    overflow: hidden;
}
    /* extra curriculrs section */
    #skills2 {
    color: black;
    font-family: Titillium Web, sans-serif;
    text-align: left;
    margin-left: 5%;
    display: inline-block;
    
    
}
    #skills2 li {
        width: auto;
        float: inherit;
        margin-left: 25%;
        font-size: 80%;
    
}
}


/* desktop version */

@media screen and (min-width: 768px) {
    #header {
    color: black;
    font-family: Prata, sans-serif;
    text-align: center;
    margin: 0;
    letter-spacing: 7px;
    font-size: 1.7em;
    text-decoration-line: none;
    display: block;
    }
    
    #menu {
        display: none;
        
    }
    /* menu of hamburger icon */
    nav {
        width: 13%;
        height: auto;
        top: 0;
        margin-top: 13%;
        position: fixed;
        right: 0;
        display: block;
        
    }

    nav ul {
        list-style-type: none;
        
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        right: 0;
        left: 0;
        line-height: 4vh;
        
        /* 
    background-color: #FFCBA4 ;
    display: inline;
    position: fixed;
    float: left;
    
    overflow: auto; */
    }
    nav li {
        display: inline-block;
        padding: 4.1vh 2vw 20px;
        width: 100%;
        background-color: white;
        
        
    }
    nav li a {
        display: inline-block;
        color: black;
        font-family: Titillium Web, sans-serif;
        text-transform: capitalize;
        font-size: 110%;
        letter-spacing: 1px;
        float: middle;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        
    }
    nav li:hover {
        text-decoration-line: underline;
    }
    nav li a:visited {
        text-decoration-line: overline;
  
    color: black;
    }
    
    nav li a.active {
    text-decoration-line: overline;
  
    color: black;
}

    li a:hover:not(.active) {
  
    text-decoration-line: overline;
    color: black;
}
    div.gallery img {
        width: 100%;
        max-width: 100%;
        border-radius: 50%;
        padding: 1%;
        float: left;
        height: auto;
    }
}


#contact {
    margin-right: 15%;
}

a {
    text-align: right;
    color: white;
    text-decoration-line: none;
    margin-right: 15%;
    
}

footer {
    
    font-size: 1.3em;
    text-align: right;
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    margin: 20% -8px 0px -8px;
    padding: 2%;
    font-family: Abel, sans-serif;
    color: white;
    background-color: #b30000;
}